body{
  margin: -8px 0 0 -8px;
}

.all{
  height: 100vh;
  width: 100%;
  background-color:beige;
}

.top-contents{
  position: relative;
  height: 850px;
  width: 100%;
}
.title{
  position: absolute;
  z-index: 6;
  color: white;
  font-size: 150px;
  font-family: メイリオ;
  margin: 300px 0 0 400px;
}

.top-images img{
  object-fit: cover;
  height: 850px;
  width: 100%;
}

.top-img1{
  width: 100%;
  z-index: 5;
  position: absolute;
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.top-img2{
  width: 100%;
  z-index: 4;
  position: absolute;
  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:3s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img3{
  z-index: 3;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:6s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img4{
  z-index: 2;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay: 9s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img5{
  width: 100%;
  z-index: 1;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:12s;
  animation-iteration-count: infinite;
  opacity: 0;


}
@keyframes top-album{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  12.5%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.greeting-contents{
  background-color: beige;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: OSAKA;
}

.greeting{
  font-size: 35px;
  border-bottom: 3px double orangered;
  margin: 35px;

}
.greeting-explanation{
  width: 95%;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}


@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateY(64px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.tourism-contents{
  background-color: beige;
  height: 500px;
  width: 100%;
  padding-top: 100px;
}

.tourism-back{
  display: flex;
  color: white;
  background-color:gold;
  height: 450px;
}

.tourism-images{
  position: relative;
  margin: 25px 0 0 50px;
}

@keyframes contents-album{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.tourism-images img{
  object-fit: cover;
  width: 700px;
  height: 400px;
}
.tourism-img1{
  z-index: 3;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.tourism-img2{
  z-index: 2;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.tourism-img3{
  z-index: 1;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.tourism-letter{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;

}
.tourism-title{
  font-size: 50px;
  margin: 25px 0;
}
.tourism-explanation{
  font-size: 20px;
  margin-top: 30px;
}
.tourism-corner-btn {
  margin-top: 60px;
  
}
.tourism-corner-btn a{
  text-decoration: none;
  border: 2px solid white;
  color:white;
  width: 500px;
  height: 60px;
  font-size: 30px;
  transition: background-color .5s;
  padding: 15px 15px 15px 10px;
  
}

.tourism-corner-btn a:hover{
  background-color: rgb(250, 230, 117);
}

.gourmet-contents{
  background-color: beige;
  height: 640px;
  width: 100%;
  padding-top: 100px;
}

.gourmet-back{
  display: flex;
  color: white;
  background-color:red;
  height: 450px;
}

.gourmet-images{
  position: relative;
}

.gourmet-images img{
  object-fit: cover;
  width: 700px;
  height: 400px;
  margin: 25px 0 0 50px ;
}

.gourmet-img1{
  z-index: 3;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.gourmet-img2{
  z-index: 2;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 0;

}

.gourmet-img3{
  z-index: 1;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.gourmet-letter{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 800px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}

.gourmet-title{
  font-size: 50px;
  margin: 25px 0;
}
.gourmet-explanation{
  font-size: 20px;
  margin-top: 30px;
}
.gourmet-corner-btn {
  margin-top: 80px;
  
}
.gourmet-corner-btn a{
  text-decoration: none;
  border: 2px solid white;
  color:white;
  width: 500px;
  height: 60px;
  font-size: 30px;
  transition: background-color .5s;
  padding: 15px 15px 15px 10px;
  
}

.gourmet-corner-btn a:hover{
  background-color: rgb(253, 115, 115);
}
.sports-contents{
  background-color: beige;
  height: 500px;
  width: 100%;
  padding-top: 100px;
}

.sports-back{
  display: flex;
  color: white;
  background-color:orange;
  height: 450px;
}

.sports-images{
  position: relative;
}

.sports-images img{
  object-fit: cover;
  width: 700px;
  height: 400px;
  margin: 25px 0 0 50px ;
}

.sports-img1{
  z-index: 3;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.sports-img2{
  z-index: 2;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 0;

}

.sports-img3{
  z-index: 1;
  position: absolute;
  animation-name: contents-album ;
  animation-duration: 6s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.sports-letter{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;

}
.sports-title{
  font-size: 50px;
  margin: 25px 0;
}
.sports-explanation{
  font-size: 20px;
  margin-top: 30px;
}
.sports-corner-btn {
  margin-top: 60px;
  
}
.sports-corner-btn a{
  text-decoration: none;
  border: 2px solid white;
  color:white;
  width: 500px;
  height: 60px;
  font-size: 30px;
  transition: background-color .5s;
  padding: 15px 15px 15px 10px;
  
}

.sports-corner-btn a:hover{
  background-color:rgb(252, 205, 119);
}

.footer{
  background-color: beige;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.footer-contents{
  height: 200px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-top: 200px;
}

.footer-btns{
  display: flex;
}
.content-btn a{
  font-size: 25px;
  margin: 40px;
  text-decoration: none;
  color: white;
}

.content-btn a:hover{
  transition: color .5s;
  color: rgb(139, 139, 139);
}

.sucsses{
  display: flex;
  margin-top: 50px;
}

.infomation a{
  margin: 50px 30px;
  color: white;
  transition: color .5s;
  text-decoration: none;
}

.infomation a:hover{
  color: rgb(139, 139, 139);
}


.company{
  color: white;
}