.all{
  height: 100vh;
  width: 100%;
}

.top-contents{
  height: 700px;
  width: 100%;
}
.rogo{
  position: relative;;
  z-index: 1;
}
.title{
  position: absolute;
  z-index: 2;
}

.top-images{
}

.top-img{
}
.top-img img{
  position: absolute;
  object-fit: cover;
  height: 700px;
  width: 100%;
}