body{
  font-family: OSAKA  "Regular";
}


.top-contents{
  
  position: relative;
  height: 825px;
  width: 100%;
}

.main-menu {
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 55;
  list-style: none;
  font-size: 20px;
  width: 40px;
  height: 825px;
  margin:0 0 0 97.2%;
  cursor: pointer;
}

.main-menu li{
  writing-mode: vertical-rl;
  color: black;
  transition: color .3s;
}

.main-menu li:hover{
  color: rgb(128, 128, 128);
}

.move-btn1{
  margin-top: 300px;
}
.move-btn2{
  margin-top: 50px;
}
.move-btn3{
  margin-top: 50px;
}
.move-btn4{
  margin-top: 50px;
}
.title1{
  position: absolute;
  z-index: 55;
  color:white;
  font-size: 90px;
  margin: 250px 0 0 100px;
  letter-spacing: 20px;
  font-weight: bold;
}
.title2{
  position: absolute;
  background-color: white;
  z-index: 55;
  color: black;
  font-size: 20px;
  margin:795px 0 0 83.5%; 
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-duration: 15s;
  animation-delay: 0s;
  font-weight: bold;

}
.title3{
  position: absolute;
  background-color: white;
  z-index: 45;
  color: black;
  font-size: 20px;
  margin:795px 0 0 86.2%; 
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-duration: 15s;
  animation-delay: 3s;
  font-weight: bold;

}
.title4{
  position: absolute;
  background-color: white;
  z-index: 35;
  color: black;
  font-size: 20px;
  margin:795px 0 0 82%; 
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-duration: 15s;
  animation-delay: 6s;
  font-weight: bold;

}
.title5{
  position: absolute;
  z-index: 25;
  background-color: white;
  color:black;
  font-size: 20px;
  margin:795px 0 0 80.5%; 
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-duration: 15s;
  animation-delay: 9s;
  font-weight: bold;

}
.title6{
  position: absolute;
  z-index: 15;
  background-color: white;
  color:black;
  font-size: 20px;
  margin:795px 0 0 78%; 
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: slideIn;
  animation-duration: 15s;
  animation-delay: 12s;
  font-weight: bold;

}



.top-images img{
  object-fit: cover;
  height: 825px;
  width: 100%;
}

.top-img1{
  width: 100%;
  z-index: 50;
  position: absolute;
  animation-name: top-album;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

.top-img2{
  width: 100%;
  z-index: 40;
  position: absolute;
  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:3s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img3{
  z-index: 30;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:6s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img4{
  z-index: 20;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay: 9s;
  animation-iteration-count: infinite;
  opacity: 0;

}
.top-img5{
  width: 100%;
  z-index: 10;
  position: absolute;

  animation-name: top-album;
  animation-duration: 15s;
  animation-delay:12s;
  animation-iteration-count: infinite;
  opacity: 0;


}
@keyframes top-album{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  12.5%{
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.greeting-contents{
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 700px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.greeting{
  font-size: 40px;
  margin: 130px 0 60px 0;

}
.greeting-explanation{
  width: 1100px;
  font-size: 22px;
  letter-spacing: 7px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}


@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  10%{
    opacity: 1;
    transform: translateY(0);
  }
  26%{
    opacity: 1;
    transform: translateY(0);
  }
  33%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 0;
  }
}

.tourism-contents{
  background-color: white;
  display: flex;
  align-items: center;
  letter-spacing: 6px;
  line-height: 33px;
  border-bottom: 1px solid lightgray;
  height: 1100px;
  width: 100%;
}



@keyframes contents-album{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
.tourism-title span{
  font-size: 50px;

}
.tourism-title{
  font-size: 20px;
  border-bottom: 8px solid gold;
  margin-bottom: 50px;
  width: 385px;
}

.tourism-explanation{
  font-size: 20px;
}
.tourism-corner-btn {
  margin-top: 60px;
  
}
.tourism-corner-btn a{
  text-decoration: none;
  border: 1px solid black;
  color:black;
  font-size: 15px;
  transition: background-color .5s;
  padding: 20px 80px 20px 10px;
  
}

.tourism-corner-btn a:hover{
  background-color: black;
  color: white;
}
.tourism-images{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 300px;

}
.tourism-images img{
  object-fit: cover;
  width: 520px;
  height: 380px;
}

.tourism-letter{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left:100px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}

.gourmet-contents{
  background-color: white;
  border-bottom:1px solid lightgray;
  letter-spacing: 6px;
  line-height: 33px;
  height: 825px;
  width: 100%;
  display: flex;
  align-items: center;
}


.gourmet-images{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  margin-left: 100px;
}
.gourmet-image{
  display: flex;
  justify-content: space-between;
}
.gourmet-image img{
  width: 330px;
  height: 250px;
}

.gourmet-img3 img{
  width: 700px;
  height: 250px;
}

.gourmet-letter{
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
  
}

.gourmet-title {
  font-size: 20px;
  margin-bottom: 50px;
  border-bottom: 8px solid red;
  width: 387px;

  
}
.gourmet-title span{
  font-size: 50px;


}
.gourmet-explanation{
  width: 400px;
  font-size: 20px;
}



.gourmet-corner-btn {
  margin-top: 70px;
}
.gourmet-corner-btn a{
  text-decoration: none;
  border: 1px solid black;
  color:black;
  font-size: 15px;
  transition: background-color .5s;
  padding: 20px 80px 20px 10px;
  cursor:pointer;
}

.gourmet-corner-btn a:hover{
  background-color: black;
  color: white;
}
.activity-contents{
  background-color: white;
  border-bottom: 1px solid lightgray;
  height: 950px;
  width: 100%;
  letter-spacing: 6px;
  line-height: 33px;
  display: flex;
  align-items: center;
}


.activity-images{
  width: 650px;
  height: 650px;
  margin-left: 200px;
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;

}

.activity-images img{
  object-fit: cover;
  width: 300px;
  height: 200px;
}


.activity-letter{
  width: 400px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;

}
.activity-title{
  font-size: 20px;
  margin-bottom: 50px;
  border-bottom: 8px solid lawngreen;
  width: 387px;
}
.activity-title span{
  font-size: 50px;
}
.activity-explanation{
  font-size: 20px;
}
.activity-corner-btn {
  margin-top: 60px;
  
}
.activity-corner-btn a{
  text-decoration: none;
  border: 1px solid black;
  color:black;
  font-size: 15px;
  transition: background-color .5s;
  padding: 20px 80px 20px 10px;
  
}

.activity-corner-btn a:hover{
  background-color: black;
  color: white;
}

.access-contents{
  background-color: white;
  width: 100%;
  height: 1750px;
  letter-spacing: 6px;
  line-height: 33px;
  align-items: center;
}

.access-title{
  font-size: 50px;
  border-bottom: 8px solid blue;
  width: 387px;
  padding: 100px 0 0 0;
  margin: 0 0 50px 100px;
}

.access-map iframe{
  width: 86%;
  height: 700px;
  margin-left: 100px;
}

.access-guide{
  width: 80%;
  height: 800px;
  margin: 100px 0 0 100px;
}

.access-place span{
  font-size: 50px;
}
.access-place {
  font-size: 20px;
  margin-bottom: 70px;
}

.access-method span{
  font-size: 40px;
}
.access-method {
  font-size: 20px;
  margin-bottom: 15px;
}
.access-method-contents{
  width: 100%;
  margin-bottom: 50px;
}


footer{
  letter-spacing: 6px;
  line-height: 33px;
  height: 200px;
  width: 100%;
  background-color: black;
}

.footer-contents{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top-btn{
  color:white;
  cursor: pointer;
  padding: 25px 10px 0 15px ;
}
#top-btn a:hover{
  transition: color .5s;
  color: rgb(139, 139, 139);
}

.footer-btns{
  display: flex;
  justify-content: space-between;
  width: 60%;

}
.content-btn a{
  font-size: 17px;
  margin: 40px;
  text-decoration: none;
  color: white;
}

.content-btn a:hover{
  transition: color .5s;
  color: rgb(139, 139, 139);
}

.sucsses{
  display: flex;
  margin-top: 50px;
}

.infomation a{
  margin: 50px 30px;
  color: white;
  transition: color .5s;
  text-decoration: none;
}

.infomation a:hover{
  color: rgb(139, 139, 139);
}


.company{
  color: white;
}